<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-r5QTae68hiF9I4U-607oeLHhl3NqIAA</string>
	<key>GCM_SENDER_ID</key>
	<string>981684891243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.equipo23.BAMX</string>
	<key>PROJECT_ID</key>
	<string>iosapp-1ed0c</string>
	<key>STORAGE_BUCKET</key>
	<string>iosapp-1ed0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981684891243:ios:1345c27e8d0ec964cf8b2e</string>
</dict>
</plist>